
<div class="dropdown clearfix pull-right">
  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
    range
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider  ">
    <li>
      <%= link_to("根据预算上限排序", jobs_path(:order => "by_upper_bound")) %>
    </li>

    <li>
      <%= link_to("最新发表", jobs_path) %>
    </li>
  </ul>
</div>

<table class="table table-boldered">
  <thead>
    <tr>
      <td>活动名称</td>
      <td>人均预算</td>
      <td>活动时间</td>
      <td>更新时间</td>
    </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= job.wage_upper_bound %>
    </td>
    <td>
      <%= job.schedule %>
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
