<div class="text-center" >
<h1><%= @job.title %> </h1>

<p>
  <%= simple_format(@job.description) %>
</p>

预算上限 : <%= @job.wage_upper_bound %>
<br></br>
预算下限 : <%= @job.wage_lower_bound %>
<br></br>
联系方式 : <%= @job.contact_email %>
</div>

<br></br>

<div class="text-center" >
  <%= link_to("Send your ideal", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
</div>
